# Core Web & UI
streamlit

# Database
mysql-connector-python
python-dotenv

# Security / Password hashing
bcrypt

# Data Handling
pandas

# Testing Framework
pytest
pytest-mock
pytest-cov
hypothesis
anyio

# Linting and Static Analysis
flake8
pylint
bandit
mypy
